@page "/clients/add"

<div>
    <h3>Client info:</h3>
    <label>Name: </label>
    <input type="text" @bind="@client.name" />
    <br />

    <label>Address: </label>
    <input type="text" @bind="@client.address" />
    <br />

    <label>Email: </label>
    <input type="text" @bind="@client.email" />
    <br />

    <label>Mobile: </label>
    <input type="text" @bind="@client.telefon" />
    <br />

    <label>Barcode: </label>
    <input type="text" @bind="@client.barCode" />
    <br />

    <label>Personal Identity: </label>
    <input type="text" @bind="@client.personalIdentity" />
    <br />

    <label>Photo: </label>
    <input type="text" @bind="@client.photo" />
    <br />

    <label>Comments: </label>
    <textarea @bind="comment"></textarea><br />

    <label>Add ticket </label>
    <input type="checkbox" @bind="ticketCheck" /> <br />

    @if (ticketCheck)
    {
        <h3>Ticket info:</h3>
        <label>Barcode: </label>
        <input type="text" @bind="@ticket.barCode" />
        <br />

        <label>Date: </label>
        <input type="datetime" @bind="@ticket.purchaseDate" />
        <br />

        <label>Selling price: </label>
        <input type="number" @bind="@ticket.sellingPrice" />
        <br />
    }

    <button class="btn btn-primary" @onclick="AddClient">Add</button>
    <br />

    @if (isAdded)
    {
        <h3>Client has been added.</h3>
        isAdded = false;
    }
</div>

    @code {
        public Client client { get; set; } = new Client();
        public ClientTicket ticket { get; set; } = new ClientTicket();
        bool isAdded = false;

        public string comment = string.Empty;
        public bool ticketCheck = false;


        private void AddClient()
        {
            FireBase firebase = new FireBase();

            client.comments = comment.Split("\n");
            client.insertedDate = DateTime.Now.ToString("dd.MM.yyyy");

            if (ticketCheck)
            {
                ticket.clientId = client.id;
                ticket.firstUsageDate = string.Empty;
                //gymid
                ticket.numberOfPreviouslyAccess = 0;
                ticket.purchaseDate = DateTime.Now.ToString("dd.MM.yyyy");
                //ticketid
                ticket.valid = 1;
            }

            firebase.InsertClient(client, ticket, ticketCheck);

            isAdded = true;
        }
    }
