@page "/tickets/add"

<h3>AddTicketView</h3>

<div>
    <label>Denomination: </label>
    <input type="text" @bind="@ticket.denomination" /><br />

    <label>Price: </label>
    <input type="text" @bind="@ticket.price" /><br />

    <label>Valid from hour: </label>
    <input type="text" @bind="@ticket.fromHour" /><br />

    <label>Valid to hour: </label>
    <input type="text" @bind="@ticket.toHour" /><br />

    <label>Number of valid days: </label>
    <input type="text" @bind="@ticket.numberOfValidDays" /><br />

    <label>Number of valid Entry: </label>
    <input type="text" @bind="@ticket.numberOfValidEntry" /><br />

    <label>Choose gym: </label>
    <select  @onchange="editGymId">
        @foreach(Gym gm in gyms)
        {
            <option value="@gm.id">@gm.name</option>
        }

    </select>

    <label>Usage for day: </label>
    <input type="text" @bind="@ticket.usageForDay" /><br />

    <button class="btn btn-primary" @onclick="AddTicket">Add</button>
    <br />

    @if (isAdded)
    {
        <h3>Ticket has been added.</h3>
        isAdded = false;
    }
</div>

@code {
    public Ticket ticket { get; set; } = new Ticket();
    bool isAdded = false;

    public List<Gym> gyms { get; set; } = new List<Gym>();
    private FireBase firebase { get; set; } = new FireBase();

    private void AddTicket()
    {
        firebase.InsertTicket(ticket);
        isAdded = true;
    }

    private void editGymId(ChangeEventArgs args)
    {
        ticket.gymId = args.Value.ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        gyms = await firebase.GetAllGym();
    }
}
