@inject NavigationManager NavigationManager

<tr>
    @if (client.isDeleted == 1)
    {
        <td>Yes</td>
    }
    else
    {
        <td>No</td>
    }
    <td>@client.name</td>
    <td>@client.email</td>
    <td>@client.address</td>
    <td>@client.personalIdentity</td>
    <td>@client.telefon</td>
    <td>@client.barCode</td>
    <td><a class="btn btn-primary" href="clients/@client.id">Edit</a></td>
    <td><button @onclick="DeleteClient" class="btn btn-primary">Delete</button></td>
</tr>

@code {
    [Parameter]
    public Client client { set; get; }

    private void DeleteClient()
    {
        FireBase firebase = new FireBase();
        firebase.DeleteClient(client.id);
    }
}
